<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <div class="well well-small" hover-spy="doorNumberOne">
          <p><strong>What is behind door number 1?</strong></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-small" hover-spy="doorNumberTwo">
          <p><strong>What is behind door number 2?</strong></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-small" hover-spy="doorNumberThree">
          <p><strong>What is behind door number 3?</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row" hover-spy="doorNumberOne" hover-spy-on="show-me" hover-spy-off="hide-me">
      <div class="col-md-12 text-center">
        <img src="images/javascript-logo.png" />
      </div>
    </div>
    <div class="row" hover-spy="doorNumberTwo" hover-spy-on="show-me" hover-spy-off="hide-me">
      <div class="col-md-12 text-center">
        <img src="images/angularjs-logo.png" />
      </div>
    </div>
    <div class="row" hover-spy="doorNumberThree" hover-spy-on="show-me" hover-spy-off="hide-me">
      <div class="col-md-12 text-center">
        <img src="images/bootstrap-logo.png" />
      </div>
    </div>
  </div>
</div>